<div class="row v-height-full">
  <div class="columns large-12 v-align-center">

    <p>Deck is a single page app design framework with scroll-based navigation.</p>
    <p>Look Mom, no <a href="http://bost.ocks.org/mike/scroll/">scroll jacking</a>.</p>
    <p>View the code <a href="https://github.com/jameslaneconkling/deck">here</a>.</p>

  </div>
</div>

